@import url('https://fonts.googleapis.com/css2?family=Karla&family=Ubuntu:wght@400;500;700&display=swap');
@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica.woff2') format('woff2'),
        url('../fonts/Helvetica.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

